*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 780px) {
  .container {
    max-width: 780px;
  }
}

@media (min-width: 976px) {
  .container {
    max-width: 976px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.top-80 {
  top: 20rem;
}

.-m-1 {
  margin: -0.25rem;
}

.-m-1\.5 {
  margin: -0.375rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-9 {
  height: 2.25rem;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.p-1 {
  padding: 0.25rem;
}

.p-1\.5 {
  padding: 0.375rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.outline {
  outline-style: solid;
}

:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.desktop1-desktop1 {
  width: 100%;
  height: 6870px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

html {
  font-family: Inter;
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}

.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}

.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}

.app__bg__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}

.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}

.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}

.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}

.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.cardList__btn.btn--left {
  left: -5%;
}

.cardList__btn.btn--right {
  right: -5%;
}

.cardList__btn .icon {
  width: 100%;
  height: 100%;
}

.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}

.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}

.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}

.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}

.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}

.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}

.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}

.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}

.info .name, .info .location {
  text-transform: uppercase;
}

.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}

.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}

.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}

.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}

.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}

.info.current--info {
  opacity: 1;
  display: block;
}

.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}

.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}

.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}

body {
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);
}

.moring{
  top:40rem;
  left:40rem;
  position: relative;
}

.desktop1-text {
  top: 353px;
  left: 436px;
  color: rgba(255, 255, 255, 1);
  width: 583px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img{
  width:100%;
  max-width:100%;
  max-height:100%;
  height:100%;
}

a{
  text-decoration:none;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.desktop1-text002 {
  top: 806px;
  left: 180px;
  color: rgba(0, 0, 0, 1);
  width: 1067px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text004 {
  color: rgba(247, 239, 239, 1);
}

.desktop1-live {
  top: 1475px;
  left: 66px;
  width: 1544px;
  height: 576px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.desktop1-logo3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-vector {
  top: 229.69667053222656px;
  left: 284.2594909667969px;
  width: 121px;
  height: 69px;
  position: absolute;
}

.desktop1-vector01 {
  top: 229.62242126464844px;
  left: 229.7122039794922px;
  width: 53px;
  height: 70px;
  position: absolute;
}

.desktop1-vector02 {
  top: 206.54449462890625px;
  left: 153.7925567626953px;
  width: 50px;
  height: 74px;
  position: absolute;
}

.desktop1-vector03 {
  top: 258.64141845703125px;
  left: 181.58331298828125px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.desktop1-vector04 {
  top: 303.2966613769531px;
  left: 293.0893859863281px;
  width: 12px;
  height: 12px;
  position: absolute;
}

.desktop1-vector05 {
  top: 302.8536376953125px;
  left: 232.4829864501953px;
  width: 13px;
  height: 13px;
  position: absolute;
}

.desktop1-vector06 {
  top: 303.2858581542969px;
  left: 324.0789794921875px;
  width: 11px;
  height: 12px;
  position: absolute;
}

.desktop1-vector07 {
  top: 303.2483825683594px;
  left: 203.16506958007812px;
  width: 11px;
  height: 13px;
  position: absolute;
}

.desktop1-vector08 {
  top: 303.2519836425781px;
  left: 262.7118835449219px;
  width: 12px;
  height: 13px;
  position: absolute;
}

.desktop1-vector09 {
  top: 303.2710266113281px;
  left: 352.751953125px;
  width: 12px;
  height: 13px;
  position: absolute;
}

.desktop1-logo2 {
  top: 20px;
  left: 46px;
  width: 559px;
  height: 524px;
  position: absolute;
}

.desktop1-text009 {
  left: 631px;
  color: rgba(255, 71, 33, 1);
  width: 671px;
  bottom: 65px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text011 {
  top: 1324px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-frame1 {
  top: 2021px;
  left: 204px;
  width: 1029px;
  display: flex;
  padding: 186px 43px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.desktop1-text016 {
  top: 2358px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 1280px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text018 {
  top: 2516px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 1280px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text020 {
  top: 2674px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 1280px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text022 {
  top: 2818px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 1280px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text024 {
  top: 3357px;
  left: 200px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-logo21 {
  top: 3290px;
  left: 361px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.desktop1-text026 {
  top: 5056px;
  left: -75px;
  color: rgba(0, 0, 0, 1);
  width: 675px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-th1 {
  top: 5032px;
  left: 513px;
  width: 1056px;
  height: 624px;
  position: absolute;
  border-color: transparent;
}

.desktop1-text028 {
  top: 5222px;
  left: -4px;
  color: rgba(0, 0, 0, 1);
  width: 517px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-footer46 {
  top: 6020px;
  left: -43px;
  width: 1483px;
  height: 850px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-coldgrey-black);
}

.desktop1-text041 {
  top: 234px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  width: 587px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text043 {
  top: 111px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  width: 587px;
  height: auto;
  position: absolute;
  font-size: 52px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-splines00023 {
  top: 138.652099609375px;
  left: 728px;
  width: 557px;
  height: 583px;
  position: absolute;
  border-color: transparent;
}

.desktop1-button {
  top: 318px;
  left: 121px;
  width: 203px;
  height: 50px;
  display: flex;
  padding: 5px 26px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  justify-content: center;
}

.desktop1-text045 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-button1 {
  top: 768px;
  left: 1209px;
  width: 150px;
  height: 40px;
  display: flex;
  padding: 5px 26px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.desktop1-text047 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text049 {
  top: 779px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-frame12 {
  top: 776px;
  left: 242px;
  width: 224px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}

.desktop1-social {
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
  margin-right: 16px;
}

.desktop1-social1 {
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
  margin-right: 16px;
}

.desktop1-social2 {
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
  margin-right: 16px;
}

.desktop1-social3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
  margin-right: 16px;
}

.desktop1-social4 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
}

.desktop1-ellipse17 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}

.desktop1-instagram {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  position: absolute;
}

.desktop1-social5 {
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.11999999731779099) ;
}

.desktop1-menufootervert1 {
  top: 435px;
  left: 121px;
  width: 203px;
  height: 197px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-text051 {
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text053 {
  top: 53px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text055 {
  top: 85px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text057 {
  top: 117px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text059 {
  top: 149px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text061 {
  top: 181px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-menufootervert2 {
  top: 435px;
  left: 363px;
  width: 203px;
  height: 165px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-text063 {
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text065 {
  top: 53px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text067 {
  top: 85px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text069 {
  top: 117px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text071 {
  top: 149px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-menufootervert3 {
  top: 435px;
  left: 605px;
  width: 202px;
  height: 229px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-text073 {
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text075 {
  top: 53px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text077 {
  top: 85px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text079 {
  top: 117px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text081 {
  top: 149px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text083 {
  top: 181px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text085 {
  top: 213px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-menufootervert4 {
  top: 435px;
  left: 846px;
  width: 202px;
  height: 197px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-text087 {
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text089 {
  top: 53px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text091 {
  top: 85px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text093 {
  top: 117px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text095 {
  top: 149px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text097 {
  top: 181px;
  color: var(--dl-color-coldgrey-white);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-line52 {
  top: 712px;
  left: 121px;
  width: 1206px;
  height: 0px;
  position: absolute;
}

.desktop1-button2 {
  top: 768px;
  left: 1050px;
  width: 120px;
  height: 40px;
  display: flex;
  padding: 5px 26px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: var(--dl-color-coldgrey-black);
}

.desktop1-text099 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text101 {
  top: 4035px;
  left: 291px;
  color: rgba(0, 0, 0, 1);
  width: 593px;
  height: auto;
  position: absolute;
  font-size: 85px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text103 {
  top: 4488px;
  left: 289px;
  color: rgba(0, 0, 0, 1);
  width: 593px;
  height: auto;
  position: absolute;
  font-size: 85px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text105 {
  top: 3831px;
  left: 291px;
  color: rgba(0, 0, 0, 1);
  width: 757px;
  height: auto;
  position: absolute;
  font-size: 85px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text107 {
  top: 4284px;
  left: 289px;
  color: rgba(0, 0, 0, 1);
  width: 757px;
  height: auto;
  position: absolute;
  font-size: 85px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text109 {
  top: 3929px;
  left: 291px;
  color: rgba(0, 0, 0, 1);
  width: 408px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text111 {
  top: 4382px;
  left: 289px;
  color: rgba(0, 0, 0, 1);
  width: 408px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text113 {
  top: 4137px;
  left: 287px;
  color: rgba(0, 0, 0, 1);
  width: 408px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text115 {
  top: 4590px;
  left: 285px;
  color: rgba(0, 0, 0, 1);
  width: 408px;
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text117 {
  top: 3879px;
  left: 1084px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text119 {
  top: 4332px;
  left: 1082px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text121 {
  top: 4055px;
  left: 1084px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-text123 {
  top: 4508px;
  left: 1082px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.desktop1-ellipse15 {
  top: 4067px;
  left: 73px;
  width: 158px;
  height: 158px;
  position: absolute;
  border-color: transparent;
}

.desktop1-ellipse16 {
  top: 4520px;
  left: 71px;
  width: 158px;
  height: 158px;
  position: absolute;
  border-color: transparent;
}

.desktop1-ellipse12 {
  top: 3834px;
  left: 73px;
  width: 158px;
  height: 158px;
  position: absolute;
  border-color: transparent;
}

.desktop1-ellipse171 {
  top: 4287px;
  left: 71px;
  width: 158px;
  height: 158px;
  position: absolute;
  border-color: transparent;
}

.desktop1-hicon-bold-play {
  top: 4105px;
  left: 115px;
  width: 71px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-play {
  top: 11.210551261901855px;
  left: 14.947403907775879px;
  width: 54.729164123535156px;
  height: 57.687374114990234px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.desktop1-vector10 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 58px;
  position: absolute;
}

.desktop1-hicon-bold-play1 {
  top: 4558px;
  left: 113px;
  width: 71px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-play1 {
  top: 11.210551261901855px;
  left: 14.947403907775879px;
  width: 54.729164123535156px;
  height: 57.687374114990234px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.desktop1-vector11 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 58px;
  position: absolute;
}

.desktop1-hicon-bold-play2 {
  top: 3873px;
  left: 115px;
  width: 71px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

.desktop1-vector15 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 68px;
  position: absolute;
}

.desktop1-vector16 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 68px;
  position: absolute;
}

.desktop1-vector17 {
  top: 0px;
  left: 0px;
  width: 74px;
  height: 68px;
  position: absolute;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}

@media (min-width: 480px) {
  .sm\:text-center {
    text-align: center;
  }
}

@media (min-width: 780px) {
  .md\:hidden {
    display: none;
  }
}

@media (min-width: 976px) {
  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:min-w-0 {
    min-width: 0px;
  }

  .lg\:flex-1 {
    flex: 1 1 0%;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-x-12 {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
  